bin/
build/
dev/
docs/
game.app/
jni/external/
jni/launcher/
lib/
Resources/
Doxyfile
game_x32
game_x64
multi-build_sh.bat
multi-clean_sh.bat
multi-premake_sh.bat
*.exe
*.lua
*.plist
*.txt
*.bak
